{% extends 'base.html' %}
{% load static %}
  {% block content %}
    <main class="wrap-content">
        <div class="card-background ">
          <section class="">
            <div class="">
              <h2 class="">Django Meetup</h2>
              <img class="landing-image" src="{% static 'images/image_placeholder.jpg' %}" alt="EventBulb Logo">
              <h3></h3>
            </div>
          </section>
          <section class="">
            <img src="" alt="">
          </section>
          <section class="">
            <p class="">Price: £0.00</p>
            <p>A meetup for Django developers and people who are interested in Django development. People of all experience levels are welcome, from beginners to pros!</p>
          </section>
          </div>
        </div>
    </main>
    {% endblock content %}